{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}

<div>
    <div>
        <a href="{{ path('app_micro_post_add') }}"><b>New Post</b></a>
    </div>
    {% if posts|length > 0 %}

        {% for post in posts %}
            <div>
                <a href="{{ path('app_micro_post_show', {id: post.id}) }}">{{post.title}}</a>
            </div>
        {% endfor %}

    {% else %}
        There' nothing here yet!
    {% endif %}
</div>
{% endblock %}
